* {
  box-sizing: border-box;
}
body {
  background-image: url("../images/po.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.explanation {
  width: 85% !important;
}

.imageContainer {
  cursor: pointer;
}

.hideToggle {
  background-color: rgba(128, 128, 128, 0.164);
  position: absolute;
  z-index: 1;
  left: 0;
}
